.gradient
h1.title Faces of LinkedIn
.intro
  p
    | This is an experiment to explore the variety of expressions and moods
    | of your LinkedIn connections. Facial feature detection is powered by
    a(href='http://www.face.com')
      = 'Face.com'
    | .
  p To get started, log in using your LinkedIn account.
  script(type="IN/Login", data-size="large")
.wrapper
  ul.tabs
    li.tab
      a.toConnections(href='#connections') View connections
    li.tab
      a.toJobTitle(href='#jobTitle') View by job title
  .cxnWrapper.shadow
    p.loading
      span Loading...
    .controls
      .filter
        span Filter By:&nbsp;
        select.filterDropdown
          option(value="all-filter", selected="true") All
          option(value="self-filter", selected="true") Me
          option(value="happy-filter") Happy
          option(value="neutral-filter") Neutral
          option(value="sad-filter") Sad
          option(value="angry-filter") Angry
          option(value="surprised-filter") Surprised
          option(value="glasses-filter") Glasses
          option(value="noglasses-filter") No Glasses
          option(value="smile-filter") Smiling
          option(value="nosmile-filter") No Smiling
          option(value="noattrs-filter") Undetectable Face
    ul.categories
      li.mooooood Mood
      li.glasses Glasses
      li.smiling Smiling
    .cxnMain.shadow
      .sides
        .side.happyStat
          span.count
          |  of your connections are happy
        .side.sadStat
          span.count
          |  of your connections are sad
        .side.glassesStat
          span.count
          |  of your connections wear glasses
        script(type="IN/Share")
      ul.cxns
  .topTitles
    .jobTitleWrapper.shadow
      p.explain
        | These charts show the aggregated photo data computed for all connections so far.
        | To see the top job titles for any given photo attribute, choose from the drop-down.
      .controls
        span View graph for: 
        select.chartFilterDropdown
          option(value="happy-filter") Happy
          option(value="neutral-filter") Neutral
          option(value="sad-filter") Sad
          option(value="angry-filter") Angry
          option(value="surprised-filter") Surprised
          option(value="glasses-filter") Glasses
          option(value="noglasses-filter") No Glasses
          option(value="smile-filter") Smiling
          option(value="nosmile-filter") No Smiling
          option(value="noattrs-filter") Undetectable Face
      .chartWrapper
        .smiling-chart.chart
        .nosmiling-chart.chart
        .glasses-chart.chart
        .noglasses-chart.chart
        .happy-chart.chart
        .neutral-chart.chart
        .sad-chart.chart
        .angry-chart.chart
        .surprised-chart.chart
        .noattrs-chart.chart
